<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate News Article</title>
    <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/background.css">
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="url" name="input-URL" value=""
                    placeholder="https://www.news-source/a-news-article...">
                <input id="submit-btn" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>
        <section id="result">
            <strong class="form-result">Form Results:</strong>
            <div class="d-flex">
                <p class="label-p">Text-Polarity:</p>
                <div id="polarity"></div>
            </div>
            <div class="d-flex">
                <p class="label-p">Confidence:</p>
                <div id="polarity-confidence"></div>
            </div>
            <div class="d-flex">
                <p class="label-p">Text-Subjectivity: </p>
                <div id="subjectivity"></div>
            </div>
            <div class="d-flex">
                <p class="label-p">Subjectivity Confidence: </p>
                <div id="subjectivity-confidence"></div>
            </div>
            <div>
                <p class="label-p">Text: </p>
                <div id="text"></div>
            </div>


        </section>
    </main>

    <footer>
        <p>This is footer
        <p>
    </footer>
    <div id="alertURL" class="valid display">
        <p> Complete Successefully</p>
    </div>

    <canvas class="background"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <script>
       
      window.onload = function() {
        Particles.init({
          selector: '.background',
          color: '#75A5B7',
          maxParticles: 130,
          connectParticles: true,
          responsive: [
            {
              breakpoint: 768,
              options: {
                maxParticles: 80
              }
            }, {
              breakpoint: 375,
              options: {
                maxParticles: 50
              }
            }
          ]
        });
      };
    
    </script>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>